<h1 style="color:#4CAF50; text-align:center;">Hello, World!</h1>
    <p style="color:#333; text-align:center;">Это простая страница.</p>
    <p style="color:#333; text-align:center;">Это простая страница.</p>
